## Exercise:

- You have a list of strings that contain messy text data. Your task is to clean the text by performing the following operations using list comprehensions:

1. Remove leading and trailing whitespace from each string.
2. Convert all characters to lowercase.
3. Remove any non-alphanumeric characters (except spaces).
4. Replace multiple spaces with a single space.

In [3]:
raw_data = [
    "  Hello, World!   ",
    "Python   is Great.   ",
    "Data-Science? Is Amazing!!  ",
    " Clean    Your  DATA!!!   "
]

In [5]:
step1=[i.strip().lower() for i in raw_data]
step2=[" ".join(("".join([i if i.isalnum() or i== " " else ""for i in s])).split()) for s in step1]
#step3=[" ".join(i.split()) for i in step2]
print(step1)
print(step2)

['hello, world!', 'python   is great.', 'data-science? is amazing!!', 'clean    your  data!!!']
['hello world', 'python is great', 'datascience is amazing', 'clean your data']

In [7]:
#with regular expresion
import re
raw_data = [
    "  Hello, World!   ",
    "Python   is Great.   ",
    "Data-Science? Is Amazing!!  ",
    " Clean    Your  DATA!!!   "
]
step1=[ re.sub(r"[^a-zA-Z0-9\s]","",i.strip().lower()) for i in raw_data]
print(step1)
step2=[re.sub(r"\s+"," ",i) for i in step1]
step2

['hello world', 'python   is great', 'datascience is amazing', 'clean    your  data']

['hello world', 'python is great', 'datascience is amazing', 'clean your data']

## Goal:

- Create a cleaned version of the raw_data list using list comprehensions. The expected output should be:

In [31]:
cleaned(raw_data)

['hello world', 'python   is great', 'data-science is amazing', 'clean    your  data']

In [2]:
cleaned_data = [
    "hello world",
    "python is great",
    "data science is amazing",
    "clean your data"
]

## Exercise Set:

- You have a list of strings that contain messy text data. Your task is to clean the text by performing the following operations:

1. Remove leading and trailing whitespace from each string.
2. Convert all characters to lowercase.
3. Remove any non-alphanumeric characters (except spaces).
4. Replace multiple spaces with a single space.

In [5]:
raw_data = [
    "  Hello, World!   ",
    "Python   is Great.   ",
    "Data-Science? Is Amazing!!  ",
    " Clean    Your  DATA!!!   ",
    "EXtra     Spaces       Everywhere 123  ",
    "Mix3D      numb3r5 aND L3tt3rs!!!"
]
step1=list(map(lambda x:x.strip().lower(),raw_data))
step2=[" ".join("".join([j for j in i if j.isalnum() or j.isspace() ]).split()) for i in step1]
step2

['hello world',
 'python is great',
 'datascience is amazing',
 'clean your data',
 'extra spaces everywhere 123',
 'mix3d numb3r5 and l3tt3rs']

## Goal:

- Create a function clean_text that takes raw_data as input and returns a cleaned version of the list. The expected output should be:

In [5]:
cleaned_data = [
    "hello world",
    "python is great",
    "data science is amazing",
    "clean your data",
    "extra spaces everywhere 123",
    "mix3d numb3r5 and l3tt3rs"
]

## Exercise 1: Squaring Numbers
- Input :numbers = [1, 2, 3, 4, 5]
- Output: squared_numbers = [1, 4, 9, 16, 25]

In [13]:
numbers = [1, 2, 3, 4, 5]
squaring_numbers=[i*i for i in numbers]

[1, 4, 9, 16, 25]

In [9]:
numbers = [1, 2, 3, 4, 5]
sq_num=list(map(lambda x:x*x,numbers))
sq_num

[1, 4, 9, 16, 25]

## Exercise 2: Filtering Even Numbers
- Task: Given a list of numbers, create a new list containing only the even numbers.

- Input:
- numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
- Output:
- even_numbers = [2, 4, 6, 8, 10]

In [25]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers=list(filter(lambda x:x%2==0,numbers ))
print(even_numbers)

[2, 4, 6, 8, 10]

##Exercise 3: Extracting Initials
-Task: Given a list of names, create a new list with the initials of each name.

- Input:
- names = ["Alice Smith", "Bob Johnson", "Charlie Brown"]
- Output:
- initials = ["A.S.", "B.J.", "C.B."]

In [40]:
names = ["Alice Smith", "Bob Johnson", "Charlie Brown"]
initials=["".join([j.replace(j[1:],".") for j in i.split()]) for i in names]
initials

['A.S.', 'B.J.', 'C.B.']

## Exercise 4: Fahrenheit to Celsius
- Task: Given a list of temperatures in Fahrenheit, create a new list with the temperatures converted to Celsius.

- Input:
fahrenheit = [32, 68, 100, 212]
- Output:
celsius = [0.0, 20.0, 37.77777777777778, 100.0]

In [7]:
fahrenheit = [32, 68, 100, 212]
celesios = list(map(lambda x:(x-32)/1.8,fahrenheit))
celesios

[0.0, 20.0, 37.77777777777778, 100.0]

In [11]:
c1=[(i-32)/1.8 for i in fahrenheit]
c1

[0.0, 20.0, 37.77777777777778, 100.0]

## Exercise 5: Flattening a List of Lists
## Task: Given a list of lists, create a new flattened list containing all the elements.

- Input:
- list_of_lists = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
- Output:

- flattened_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
list_of_lists = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

flattened_list =[] 
for i in list_of_lists:
    flattened_list.extend(i)
flattened_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Exercise 7: Filtering Words by Length
- Task: Given a list of words, create a new list containing only the words that are longer than 3 characters.

- Input:
words = ["cat", "elephant", "dog", "tiger"]
- Output:
long_words = ["elephant", "tiger"]

In [39]:
words = ["cat", "elephant", "dog", "tiger"]
long_words = list(filter(lambda x:len(x)>3,words))
long_words

['elephant', 'tiger']

## Exercise 8: Sum of a List
- Task: Write a function sum_list that takes a list of numbers and returns the sum of those numbers.

- Input:
numbers = [1, 2, 3, 4, 5]
- Output:
sum_list(numbers)  # Output: 15

In [49]:
numbers = [1, 2, 3, 4, 5]
def sums(x):
    return sum(numbers)

sums(numbers)

15

## Exercise 9: Count Occurrences
- Task: Write a function count_occurrences that takes a list and an element, and returns the number of times the element appears in the list.

- Input:
elements = [1, 2, 2, 3, 4, 2, 5]
element_to_count = 2
- Output:
count_occurrences(elements, element_to_count)  # Output: 3

In [53]:
elements = [1, 2, 2, 3, 4, 2, 5]
def counter(x,y):
    return x.count(y)
counter(elements,2)

3

## Exercise 10: Remove Duplicates
- Task: Write a function remove_duplicates that takes a list and returns a new list with duplicates removed, preserving the order of the first occurrence of each element.

- Input:
items = [1, 2, 2, 3, 4, 4, 5]
- Output:
remove_duplicates(items)  # Output: [1, 2, 3, 4, 5]

In [74]:
def uniq(x):
    new=[]
    for i in x:
        if i not in new:
            new.append(i)
    return new

In [76]:
items = [1, 2, 2, 3, 4, 4, 5]
uniq(items)

[1, 2, 3, 4, 5]